// Colour system

$transparent: transparent;
$white: white;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000000;

$custom-light-gray: #f1f1f1;
$custom-premid-gray: #ebebeb;
$custom-mid-gray: lighten($black, 60%);
//$custom-dark-gray: #272831;
$custom-heading-black: #1a1818;
$custom-black: #343434;

$custom-gray-100: $custom-light-gray;
$custom-gray-200: $custom-premid-gray;
$custom-gray-300: rgba(0, 0, 0, 0.37);
$custom-gray-400: rgba(0, 0, 0, 0.47);
$custom-gray-500: rgba(0, 0, 0, 0.57);
$custom-gray-600: rgba(0, 0, 0, 0.67);

$bright-blue: #4e82fe;
$blue: #6596ff;
$blue-turquoise: #5aa4ff;

$body-bg: $custom-light-gray;
$body-color: $custom-black;

$plug: $body-color;

// Typography

$spacer: 1rem;

$font-family-base: 'Roboto Regular', Tahoma, sans-serif;
$font-family-base-medium: 'Roboto Medium', Tahoma, sans-serif;

$font-size-base: 1.5rem;
$font-size-xsm: 1rem;
$font-size-sm: 1.3rem;
$font-size-md: 1.6rem;
$font-size-lg: 1.8rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
$custom-line-height-base: 1.6;

$h1-font-size: $font-size-lg + 2rem;
$h2-font-size: $font-size-lg + 1.6rem;
$h3-font-size: $font-size-lg + 1.2rem;
$h4-font-size: $font-size-lg + 0.8rem;
$h5-font-size: $font-size-lg + 0.4rem;
$h6-font-size: $font-size-lg;

$link-color: $plug;
$link-decoration: none;
$link-hover-color: $custom-gray-600;
$link-visited-color: $plug;
$link-hover-decoration: none;

$headings-margin-bottom: ($spacer / 2);
$headings-font-family: inherit;
$headings-font-weight: 500;
$headings-line-height: 1.2;
$headings-color: inherit;

$paragraph-margin-bottom: 1rem;

$text-muted: $gray-600;


// Common of components

//$line-height-lg: 1.5; // tmp
//$line-height-sm: 1.5; // tmp

$border-width: 1px;
$border-color: $gray-300; // tmp

$border-radius-sm: .3rem;
$border-radius-md: .6rem;
$border-radius-lg: .9rem;
$border-radius-50-percents: 50%;

$box-shadow: 0 .1rem .3rem rgba($black, .08), 0 .1rem .1rem rgba($black, .05);
$box-shadow-custom: 0 .2rem .2rem rgba(0, 0, 0, .12);
$box-shadow-custom-md: 0 .4rem .4rem rgba(0, 0, 0, .12);
$box-shadow-custom-lg: 0 .8rem .8rem rgba(0, 0, 0, .12);
//$box-shadow-sm: 0 .125rem .25rem rgba($black, .075); // tmp
//$box-shadow-lg: 0 1rem 3rem rgba($black, .175); // tmp

$transition-base: all .2s ease-in-out;
$transition-fade: opacity .15s linear;
$transition-collapse: height .35s ease;


// Tables

$table-cell-padding: .75rem;

$table-caption-color: $text-muted;

// note: add other styles later


// Buttons

$btn-padding-y: 1rem;
$btn-padding-x: 3rem;
$btn-line-height: 1;
$btn-font-weight: $font-weight-normal;

$btn-border-width: $border-width;
$btn-border-radius: $border-radius-md;
$btn-border-color: $transparent;

$btn-disabled-opacity: .6;

$btn-link-disabled-color: $gray-600;


// Forms

$form-group-margin-bottom: 1rem;

$label-margin-bottom: .5rem;

$input-padding-y: 1rem;
$custom-input-padding-y: .8rem;
$input-padding-x: 1.5rem;
$custom-input-padding-x: 1.6rem;
$input-line-height: 1;

// note: also do it for `sm` and `lg` inputs
// note: describe css for all of the elements

$input-bg: $white;
$input-disabled-color: $gray-600;
$input-disabled-bg: $gray-200;

$input-color: $gray-700; // default
$input-border-width: $border-width;
$input-border-radius: $border-radius-md;
$custom-input-border-radius: $border-radius-md;
$input-border-color: $gray-300;
$custom-input-border-color: $custom-gray-200;

$input-placeholder-color: $gray-600;
$custom-input-placeholder-color: $custom-gray-300;


// Z-index

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;


// Nav

$nav-padding-y: ($spacer / 2);
$nav-padding-x: $spacer;

$nav-default-height: 7rem;

$nav-item-link-padding: 0 1rem;
