.header {
  @include display-flex-mixin(flex, row, flex-start, center);
  padding: 1rem;
  height: 7rem;
  background: $white;
  box-shadow: $box-shadow-custom;
}

.top-logo-block {
  @include display-flex-mixin(flex, row, flex-start, center);
  width: 18rem;
  height: 100%;
  .slogan {
    font-size: $font-size-sm;
    color: $gray-700;
  }
}

.top-menu {
  @include display-flex-mixin(flex, row, space-between, center);
  height: 100%;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  .list {
    margin-bottom: 0;
    width: 100%;
  }
  .btn {
    height: 36px;
    border-radius: 2rem;
  }
  .btn-callback {
    padding-left: 4rem;
    padding-right: 1rem;
    width: 190px;
    color: $gray-700;
  }
  .btn-callback::after {
    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: $white;
    background-size: 15px 15px;
    border-radius: $border-radius-50-percents;
  }
  .btn-link-cart {
    width: 26px;
    height: 26px;
  }
}
