.img-responsive {
  max-width: 100%;
  height: auto;
}

.std-figure {
  text-align: center;
}

.std-figcaption {
  margin-top: 6rem;
  line-height: 3rem;
  font-size: $font-size-sm;
}

// Theme (standalone pictures)


